
/*----------------------globalstyle---------------*/
* {-webkit-box-sizing: border-box;box-sizing: border-box;}
a {text-decoration: none;}
body {background-color: #282828;}

.link_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.link_size_1 {
	width: 80px;
	height: 30px;
}
.link_size_2 {
	width: 130px;
	height: 40px;
}
.link_size_3 {
	width: 100%;
	height: 30px;
}
.link_size_4 {
	width: 100px;
	height: 30px;
}
.link_size_5 {
	width: 200px;
	height: 30px;
}
.link_color_fff {color: #fff;}
.link_bgDefault {background-color: #19bd9a;}
.link_color_black {color: #333b46;}
.link_border_1 {border-radius: 30px;}
.link_border_2 {
	border-radius: 30px;
	border:1px solid #333b46;
}
.link_border_2 {
	border-radius: 30px;
	border:1px solid #333b46;
}
.link_hover_1:hover {
	width: 80px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 20px;
	-webkit-animation-name: one;
	        animation-name: one;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
.link_hover_2:hover {
	width: 100px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 20px;
	-webkit-animation-name: one;
	        animation-name: one;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
.link_active_1:active {
	width: 80px;
	height: 30px;
	background-color: #19bd9a;
	border-radius: 30px;
	color:#fff;
	border: none;
}
.link_active_2:active {
	width: 140px;
	height: 40px;
	background-color: #19bd9a;
	border-radius: 30px;
	color:#fff;
	border: none;
}
.link_active_3:active {
	width: 100%;
	height: 30px;
	border-radius: 30px;
	color:#fff;
	border: none;
}
.link_active_4:active {
	width: 100px;
	height: 30px;
	background-color: #19bd9a;
	border-radius: 30px;
	border: none;
}
.link_active_5:active {
	width: 500px;
	height: 30px;
	border-radius: 30px;
	background-color: #19bd9a;
	border: none;
}
.link_active_5:active {
	width: 130px;
	height: 40px;
	border-radius: 30px;
	background-color: #19bd9a;
	color: #fff;
	border: none;
}
@-webkit-keyframes one {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes one {
	from {opacity: 0;}
	to {opacity: 1;}
}
/*--------------------block---------------*/
.block_flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.block_size {
	margin: 0 auto;
	max-width: 1366px;
	height: 100px;
}
.block_color_1 {background-color: #fff;}
.block_color_2 {background-color: #f3f3f3;}
/*--------------------block---------------*/

/*--------------------blackblock---------------*/
.blackblock_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.blackblock_widhtHeight {
	max-width: 1366px;
	height: 200px; 
	margin:0 auto;
}
.blackblock_bgImage {background-image: url("../images/background_1.png");}
.h4_margin_Bottom {margin-bottom: 35px;}
.h4_fontsize {font-size: 20px;}
.h4_color_fff {color: #fff;}
/*--------------------blackblock---------------*/

/*----------------------globalstyle---------------*/

/*----------------------FirstPage---------------*/
.firstPage_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.firstPage_size {
	max-width: 1366px;
	height: 738px;
	margin: 0 auto;
}
.firstPage_image {
	background-image: url("../images/firstPage__image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
}
.firstPage__header_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
}
.firstPage__header_size {
	margin: 0 auto;
	width: 87.575%;
}
.logotype_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
}
.logo_size {font-size: 25px;}
.logo_color {color: #fff;}
.nav_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 570px;
	        flex: 1 0 570px;
}
.nav_margin {margin-top: 40px;}
.nav__list {display: -webkit-box;display: -ms-flexbox;display: flex;}
.nav__list li {margin: 0 5px;}
.nav__list li:nth-child(3) {margin: 0px 0px;}
.nav__list li:nth-child(2) {margin-right: 0px;}

.firstPage__FrontEndDev {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
	margin-top: 210px;
}
.FrontEndDev__h2 {
	color: #fff;
	text-transform: uppercase;
}
.FrontEndDev__h2_size {font-size: 35px;}
.firstPage__slogan {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
	margin-top: 25px;
}
.slogan__span {
	color: #fff;
	text-align: center;
	line-height: 1.9;
}
.slogan__span_size {
	font-size: 16px;
}
.firstPage__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 100%;
	        flex: 1 1 100%;
	margin-top: 250px;
}
.firstPage__svg {
	width: 50px;
	height: 50px;
}
.fa-bars {color: #19bd9a;}
.modalLink_position{z-index: 100;}
/*----------------------FirstPage---------------*/

/*-------modal------*/
.modal_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.modal_size {
	width: 100%;
	height: 100%;
}
.modal_position {
	position: fixed;
	top: 0;
	left: 0;
}
.modal_bg {
	background: rgba(0,0,0,0.9);
}
.modal__list_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.modal__list_size {
	width: 50%;
	height:250px;
}
#modal:not(:target) {
	opacity: 0;
	visibility: hidden;
}
#modal:target {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
.fa-times {
	color: #19bd9a;
}
.modalLink_position {
	position: fixed;
	top: 20px;
	right:20px;
}
/*-------modal------*/

/*-----------------------CV--------------------*/
.cv_flex {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	background-color: #fff;
}
.cv_size {
	max-width:1366px;
	height: 480px;
}
.cv__block_flex {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-ms-flex-item-align:center;
	    align-self:center;
} 
.cv__block_size {
	width:61.127%;
	height:300px;
}
.cv__textLeft {
	-webkit-box-flex:2;
	    -ms-flex:2 1;
	        flex:2 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 5px;
}
.cv__image_flex {
	-webkit-box-flex:1;
	    -ms-flex:1 1;
	        flex:1 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.cv__textRight {
	-webkit-box-flex:1;
	    -ms-flex:1 1;
	        flex:1 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 5px;
}
.cv__image img {
	width: 200px;
	height: 280px;
}
.cv__buttom_flex {
	margin:0 auto;
	-ms-flex-item-align: end;
	    align-self: flex-end;
}
.cv__buttom_size {
	width: 60%;
	height: 60px;
}
input#cv:checked~ .cv__button .more {
	display:none;
}
input#cv:not(:checked)~ .cv__button .more {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
input#cv:checked~ .cv__button .less {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
input#cv:not(:checked)~ .cv__button .less {
	display:none;
}
input#cv:not(:checked)~ .cv__block .cv__image {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-animation-name:two_1;
	        animation-name:two_1;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:checked~ .cv__block .cv__image {
	display:none;
	-webkit-animation-name:two_2;
	        animation-name:two_2;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:not(:checked)~ .cv__block .cv__textLeft {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation-name:three_2;
	        animation-name:three_2;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:checked~ .cv__block .cv__textLeft {
	-webkit-box-flex:1;
	    -ms-flex:1 1;
	        flex:1 1;
	-webkit-animation-name:three_1;
	        animation-name:three_1;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:not(:checked)~ .cv__block .cv__textRight {
	display:none;
	-webkit-animation-name:three_2;
	        animation-name:three_2;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:checked~ .cv__block .cv__textRight {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-animation-name:three_1;
	        animation-name:three_1;
	-webkit-animation-duration:2s;
	        animation-duration:2s;
}
input#cv:checked~.cv__block_size {
	width:80%;
}
input#cv:checked~.cv__buttom_size {
	width:80%;
}
input#cv:not(:checked)~.cv__buttom_size {
	width:60%;
}
@-webkit-keyframes three_1 {
	from {opacity: 0;}
	to {opacity:1;}
}
@keyframes three_1 {
	from {opacity: 0;}
	to {opacity:1;}
}

@-webkit-keyframes three_2 {
	from {opacity: 0;}
	to {opacity:1;}
}

@keyframes three_2 {
	from {opacity: 0;}
	to {opacity:1;}
}

@-webkit-keyframes two_1 {
	from {opacity: 0;}
	to {opacity:1;}
}

@keyframes two_1 {
	from {opacity: 0;}
	to {opacity:1;}
}

@-webkit-keyframes two_2 {
	from {opacity: 1;}
	to {opacity:0;}
}

@keyframes two_2 {
	from {opacity: 1;}
	to {opacity:0;}
}
.cv input {
	display: none;
}        
/*-----------------------CV--------------------*/

/*--------------------portfolio---------------*/
.portfolio_flex {
	display: block;
	margin:0 auto;
	background-color: #fff;
}
.portfolio_size {
	max-width: 1366px;
}
.portfolio__controls_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.portfolio__controls_size {
	width: 100%;
	height: 100px;
}
.portfolio__controls label {
	margin:0 15px;
	padding-bottom: 5px;
}
.portfolio__slider a:hover {
	opacity: 0.5;
}
.portfolio__slider_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.portfolio__slider_size {
	margin:0 auto;
	width: 85.652%;
	height:450px;
	overflow: hidden;
	position: relative;
}
.portfolio__InnerSlider_size {
	width: 300%;
	height: 300px;
}
.portfolio__InnerSlider_position {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.web_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.css-animation_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.web_size {
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	height: 450px;
	
}
.apps_size {
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	height: 450px;
}
.css-animation_size {
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	height: 450px;
}
.site_size {
	margin:0 15px;
	-webkit-box-flex:0;
	    -ms-flex:0 1  250px;
	        flex:0 1  250px;
	height: 300px;  
}
.site__bg1, .site__bg2, .site__bg3, 
.site__animationBG1, .site__animationBG2 {
	background-image: url(../images/site1.png);
	background-repeat: none;
	background-size: cover;
	background-position: center center;
}
.site__bg2 {
	background-image: url(../images/site2.png);
}
.site__bg3 {
	background-image: url(../images/site3.png);
}
.site__animationBG1 {
	background-image: url(../images/AnimationSun.png);
}
.site__animationBG2 {
	background-image: url(../images/animationTime.png);
}
input#web:checked~.portfolio__slider .portfolio__InnerSlider  {
	margin-left: 0;
}
input#apps:checked~.portfolio__slider .portfolio__InnerSlider  {
	margin-left: -100%;
}
input#css-animation:checked~.portfolio__slider .portfolio__InnerSlider  {
	margin-left: -200%;
}
input#web:checked~.portfolio__controls label:nth-child(1) {
	border-bottom: 2px solid #19bd9a;
}
input#apps:checked~.portfolio__controls label:nth-child(2) {
	border-bottom: 2px solid #19bd9a;
}
input#css-animation:checked~.portfolio__controls label:nth-child(3) {
	border-bottom: 2px solid #19bd9a;
}
.portfolio input { display: none }
/*--------------------portfolio---------------*/


/*--------------------Step---------------*/
.step_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	background-color: white;
}
.step__controls_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.step_size {
	max-width: 1366px;
	height: 500px;
}
.step__controls_size {
	margin: 0 auto;
	width: 80%;
	height:100px;
}
.step__content_size {
	width:80%;
	height: 300px;
}
.step__content_position {
	position: relative;
}
.step label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-ms-flex-item-align:center;
	    align-self:center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: grey;
	margin:0 10px;
}
.content_size {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 300px;
	background-color: ;
}
.cols0 {
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.content a {
	color:white;
	width:100%;
	height: 100%;
	background-image: url(../images/site1.png);
	background-repeat: none;
	background-size: 100% ;
	background-position: center center;
} 
input#step1:checked~.step__controls label:nth-child(1)  {
     background-color:#19bd9a;
}
input#step2:checked~.step__controls label:nth-child(2)  {
     background-color:#19bd9a;
}
input#step3:checked~.step__controls label:nth-child(3)  {
     background-color:#19bd9a;
}
input#step1:checked~.step__content div:nth-child(1)  {
     z-index: 1;
}
input#step1:not(:checked)~.step__content div:nth-child(1)  {
     z-index: 0;
}
input#step2:checked~.step__content div:nth-child(2)  {
     z-index: 1;
}
input#step2:not(:checked)~.step__content div:nth-child(2)  {
     z-index: 0;
}
input#step3:checked~.step__content div:nth-child(3)  {
     z-index: 1;
}
input#step3:not(:checked)~.step__content div:nth-child(3)  {
     z-index: 0;
}
.step input {
	display: none;
}
/*--------------------Step---------------*/

/*--------------------skills---------------*/
.wrapper__size {
	max-width: 1366px;
	height:560px;
	margin: 0 auto;
	background-color: #fff;
}
.skills__flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.skills_widhtHeightMargin {
	width: 75.403%;
	height: 560px;
	margin: 0 auto;
}
.slider_flex {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1;
	        flex: 1 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slider__content div {
	position: relative;
}
.slider__content_size {
	width: 80%;
}
.slider__content_position {
	position:relative;
	overflow: hidden;
}
.slider__innerSizePosition {
	width: 300%;
	height: auto;
	position: absolute;
}
.slider__content h3 {
	font-size: 20px;
	color: #464646;
}
.slider__content span {
	font-size: 14px;
	color: #81868e;
}
.slider__h3-span {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.slider__h3-span span {
	margin-bottom: 10px;
}
.slider_position span {
	position: absolute;
	right:0;
}
.slider__slide_float {
	float: left;
}
.slider__slide_size {
	width: 33.33%;
	height: 400px;
}
.ability__expInPersent_size_50:before,
.ability__expInPersent_size_60:before,
.ability__expInPersent_size_70:before,
.ability__expInPersent_size_80:before,
.ability__expInPersent_size_90:before {
	content:"";
	display: block;
	position: absolute;
	height: 8px;
	background-color: #19bd9a;
}
.ability__expInPersent_size_50:before {width: 50%;}
.ability__expInPersent_size_60:before {width: 60%;}
.ability__expInPersent_size_70:before {width: 70%;}
.ability__expInPersent_size_80:before {width: 80%;}
.ability__expInPersent_size_90:before {width: 90%;}
.ability_line {
	max-width: 100%;
	height: 8px;
	background-color: #e1e4e9;
}
.slider__p_size { font-size: 16px; margin:55px 0 10px 0;}
.slider__p_color { color:#81868e; }
.slider__slide1 div:nth-child(3) {margin-bottom:30px;}
.slider__controlsFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 71%;
}
.slider__controls_position {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	
}
.slider__controls_width {
	width: 20%;
}
.slider__controls_style {
	width: 15px;
	height: 15px;
	border:1px solid  #19bd9a;
	border-radius: 50%;
}
#slide1:checked ~ .slider__content .slider__innerSizePosition {
	margin-left: 0px;
}
#slide2:checked ~ .slider__content .slider__innerSizePosition {
	margin-left: -100%;
}
#slide3:checked ~ .slider__content .slider__innerSizePosition {
	margin-left: -200%;
}
#slide1:checked ~ .slider__controlsFlex label:nth-child(1) {
	background-color: #19bd9a;
	width: 15px;
	height: 15px;
	border-radius: 50%;
} 
#slide2:checked ~ .slider__controlsFlex label:nth-child(2) {
	background-color: #19bd9a;
	width: 15px;
	height: 15px;
	border-radius: 50%;
} 
#slide3:checked ~ .slider__controlsFlex label:nth-child(3) {
	background-color: #19bd9a;
	width: 15px;
	height: 15px;
	border-radius: 50%;
} 
.slider input {display: none;}
/*--------------------skills---------------*/

/*--------------------ContactMe---------------*/
.contactMe_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center; 
}
.contactMe_size {
	margin: 0 auto;
	max-width: 1366px;
	height: 400px;
}
.contactMe_bgColor {background-color: #f3f3f3;}
.contactMe__emailOfficePhone_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contactMe__emailOfficePhone_size {width:100%;}
.contactMe__email div, .contactMe__office div, 
.contactMe__phone div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.contactMe__email_flex, .contactMe__office_flex, 
.contactMe__phone_flex {
	-webkit-box-flex:0;
	    -ms-flex:0 1 300px;
	        flex:0 1 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.contactMe__office_margin {margin:0 30px;} 
.contactMe__email_size, .contactMe__office_size,
.contactMe__phone_size {height: 270px;}

.contactMe__email_bg, .contactMe__office_bg,
.contactMe__phone_bg {
	background-repeat: no-repeat;
	background-position: top center;
	background-color: white;
}
.contactMe__email_bg {background-image: url(../images/email.png);}
.contactMe__office_bg {background-image: url(../images/map.png);}
.contactMe__phone_bg {background-image: url(../images/phone.png);}
/*--------------------ContactMe---------------*/

/*--------------------form---------------*/
.wrapperForm_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}.wrapper_size {
	max-width: 1366px;
	height: 550px;
	margin: 0 auto;
	background-color: #fff;
}
.wrapper_size {
	max-width: 1366px;
	height: 550px;
	margin: 0 auto;
	background-color: #fff;
}
.form_flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
}
.form_size {
	margin: 0 auto;
	width: 72.605%;
}
.form__nameEmailTel {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.form__input_flex {
	-webkit-box-flex:0;
	    -ms-flex:0 1 31.23%;
	        flex:0 1 31.23%;
	height: 50px;
}
.form__textarea_flex {
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
}
.form__textarea_size {
	height: 200px;
	margin: 30px 0px;
}
.form__submit_size {
	-webkit-box-flex:1;
	    -ms-flex:1 1 100%;
	        flex:1 1 100%;
	height: 50px;
}
.form__submit_style {
	border:none;
	background-color: #19bd9a;
	color: #fff;
}
/*--------------------form---------------*/

/*----------------footer-------------*/
.footer_flex {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer h1 {color:#323a45;}
.footer_widthHeight {
	max-width: 1366px;
	height: 290px;
}
.footer__decoration {background-color: #f3f3f3;}
.footer__SocialNetworks .fa {margin:0 15px;}
.footer__SocialNetworks_margin {margin-top: 30px;}
.footer__span_margin {margin-top: 10px;}
.span_color {color:#81868e;}
.fa-vk_color {color: #45688E;}
.fa-facebook-square_color {color:#3b5998;}
.fa-linkedin-square_color {color: #0e76a8;}
/*----------------footer-------------*/

