* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.firstPage {
	display: flex;
	max-width: 1366px;
	height: 738px;
	margin: 0 auto;
}

.firstPage__image {
	background-image: url("../images/firstPage__image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
}
.firstPage__header {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 87.575%;
	align-content: flex-start;
	align-items: baseline;
}

.firstPage__bars {
	margin-top: ;
}

.firstPage__logo {
	display: flex;
	margin-top: 40px;
}

.logo__h1_size {
	font-size: 25px;
	color: #fff;
}

.firstPage__nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;
	flex: 1 0 570px;
}

.firstPage__list {
	display: flex;
}

.firstPage__list li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 30px;

}


.firstPage__link {
	text-decoration: none;
}


.firstPage__link {
	display: flex;
	justify-content: center;
	align-items: center;

}

.firstPage__link_fontSizeColor {
	font-size: 16px;
	color: #fff;
}

.firstPage__FrontEndDev {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 0 100%;
	margin-top: 210px;
}

.FrontEndDev__h2 {
	color: #fff;
	text-transform: uppercase;
}

.FrontEndDev__h2_size {
	font-size: 35px;
}

.firstPage__slogan {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1 0 100%;
	margin-top: 25px;
}

.slogan__span {
	
	color: #fff;
	text-align: center;
	line-height: 1.9;
}

.slogan__span_size {
	font-size: 16px;
}

.firstPage__button {
	display: flex;
	justify-content: center;
	flex: 1 0 100%;
}

.firstPage__svg {
	width: 50px;
	height: 50px;
}

.fa-bars {
	color: #19bd9a;
}


/*-------modal------*/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__list {
    text-align: center;
    width: 70%;
 }

 .modal__list li{
    display: flex;
    justify-content: center;
    background-color: #19bd9a;
	height: 30px;
	margin:15px 0 15px 0;
	border: 1px solid #fff;
	border-radius: 20px;
 }

.modal__list a {
	align-self: center;
	color:#fff;
}

.modal__list li:active {
	background-color: #fff;
	border: none;
}

#modal:not(:target) {
    opacity: 0;
    visibility: hidden;
    
}

#modal:target {
    opacity: 1;
    visibility: visible;
    
}


.fa-times {
	color: #19bd9a;
}
/*-------modal------*/


.modalLink__position {
	position: absolute;
	top: 20px;
	right:20px;
}



/*-----------------------CVsummary--------------------*/

.CVsummary {
	display: flex;
	margin: 0 auto;
	position: relative;
	
}

.CVsummary_widthHeight {
	max-width: 1366px;
	/*height: 487px;*/
}

.CVsummary__inner {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}



.h3 {
	flex: 1 1 100%;
}

.h3_marginTop {
	margin-top: 100px;
}

.CVsummary__inner_width {
	width: 60.981%;
}

.CVsummary__shortInf {
	flex: 1.4 1  ;
	/*height: 310px;*/
	
}



.CVsummary__image {
	flex: 1 1;

}

.CVsummary__h3_decoration {
	text-transform: uppercase;
	color: #333b46;
}
.CVsummary__h3_size {
	font-size: 20px;
}

.CVsummary__p {
	margin-top: 50px;
	margin-bottom:35px;
}

.CVsummary__p_size {
	font-size: 14px;
	line-height: 1.7;
}

.CVsummary__p_decoration {
	color: ##333b46;
} 

.CVsummary__link {
	flex:100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
}

.CVsummary__link_marginBottom {
	margin-bottom: 100px
}

.CVsummary__link_size {
	width: 140px;
	height: 37px;
}

.link__flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.link__border {
	border:1px solid #333b46;
	border-radius: 20px;
}

.link_size {
	width:140px;
	height: 37px;
}

.link_color {
	color:#333b46;
}

.CVsummary__link a:active {
	width: 140px;
	height: 37px;
	border: 1px solid #333b46;
	background-color: #19bd9a;
	color:#fff;
	border: none;
}

.CVsummary__image {


}
.CVsummary__image img {
	width: 200px;
	height: 310px;

}


#CVsummary:not(:target) .CVsummary__image {
	display: flex;
	justify-content: flex-end;
}

#CVsummary:target .CVsummary__image {
	display: none;
	
}

#CVsummary:not(:target) .less {
	display: none;
}

#CVsummary:target .more {
	display: none;
	
}

#CVsummary:not(:target) .CVsummary__shortInf-2 {
	display: none;
}

#CVsummary:target .CVsummary__shortInf-2 {
	display: flex;
	flex:1 1;
	/*height: 310px;*/
}

#CVsummary:target .CVsummary__inner_width {
	width: 87.575%;
}


/*-----------------------CVsummary--------------------*/